<div id="title" class="text-center text-5xl font-bold mt-10">
  Liste des éléments
</div>

<h1>Articles</h1>

<table>
  <thead>
  <tr>
    <th>Price</th>
    <th>User</th>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.price %></td>
      <td><%= article.user_id %></td>
      <td><%= article.name %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
